.game-container {
    background: url(../Assets/Backgrounds/blue.png);
    width: 800px;
    height: 600px;
    position: relative;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 255px;
    }
}